{% extends 'base.html' %}

{% block title %}Home{% endblock title %}




{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Newspaper app</h1>

  <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
      <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  </form>


  <p class="lead">A Newspaper website built with Django.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button">View All Articles</a>
  </p>
  </div>
{% endblock content %}


